*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    width: 100vw;
    max-width: 550px;
    margin: auto;
}

header{
    background-image: url(images/header-background.png);
    background-size: cover;
    position: relative;
    background-color: #0E0E0E;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 0 1em;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}

header a {
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}

header a:hover {
    color: #CCCCCC;
}

form{
    display: flex;
    position: absolute;
    top: 133px;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    height: 32px;
    margin: 0 1em;
    
}

form input, form button{
    font-size: 0.8rem;
    flex-grow: 1;
    max-width: 342px;
    border: #D1D5DB solid 0.07em;
}

form input{
    padding: 0.6em 0.9em;
    color: #6B7280;
    border-radius: 0.4em 0 0 0.4em;
}

form button{
    max-width: 120px;
    color: #374151;
    border-radius: 0 0.4em 0.4em 0;
    background-color: #F9FAFB;
    cursor: pointer;
}

form input:focus, form button:hover{
    outline: 2px solid #6B7280; 
}

.movies-container{
    display: flex;
    max-width: 90%;
    flex-direction: column;
    justify-content: center;
    margin: 2.75em auto;
}

.single-movie-container{
    display: flex;
    border-bottom: #E5E7EB solid 0.09em;
    align-items: center;
    padding-bottom: 1.25em;
    margin-bottom: 1.3em;
}

.poster-img{
    width: 75px;
    height: calc(75px / 0.6735); 
    margin-right: 1em;
}

.movie-details{
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.movie-details div{
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.movie-title{
    font-size: 0.8rem;
}

.other-details{
    font-size: 0.6rem;
    color: #111827;
}

.add-remove-btn{
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.3em;
}

.add-remove-btn:hover{
    opacity: 50%;
}

.movie-plot{
    font-size: 0.6rem;
    color: #6B7280;
}

.empty-page-text{
    font-size: 1.125rem;
    font-weight: 700;
    color: #DFDDDD;
    text-align: center;
    margin: 5em 0 0;
}

.empty-page-text ~ .add-remove-btn{
    color: #363636;
    text-decoration: none;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 1em;
}


@media (min-width: 480px) {
    body {
        max-width: 100%;
    }

    header{
        padding: 0 1.5em;
    } 

    header{
        height: 208px;
    } 

    h1{
        font-size: 2.7rem;
        font-weight: 800;
    }

    header a {
        font-size: 0.9rem;
        font-weight: 700;
    }

    form{
        top: 190px;
        height: 38px;
        margin: 0 1em;
    }

    form input, form button{
        font-weight: 500;
        font-size: 0.9rem;
         
    }

    .poster-img{
        width: 99px;
        height: 147px;
        margin-right: 1.3em;
    }

    .movie-details div{
        gap: 1em;
    }

    .movie-title{
        font-size: 1.125rem;
        font-weight: 500;
    }
    
    .other-details{
        font-size: 0.75rem;
    }

    .add-remove-btn{
        font-size: 0.9rem;
    }

    .movie-plot{
        font-size: 0.875rem;
    }

    .empty-page-text{
        margin: 11.5em 1em 0;
    }
}

@media (min-width: 768px) {
    header{
        padding: 0 3em;
    } 

    form input, form button{
        font-size: 1rem; 
    }

    form input{
        max-width: 500px;
    }

    .movies-container{
        max-width: 900px;
    }

    .movie-details{
        gap: 0.9em;
    }

    .movie-title{
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .other-details{
        font-size: 0.9rem;
    }

    .movie-plot{
        font-size: 1rem;
    }

    .empty-page-text{
        font-size: 1.125rem;
        margin-top: 5em;
    }
}





